<!--  
<LoginModal id="LoginModal">
    <div class="modal">
        <div class="modal-body">
            <h1>Login </h1>
            <form class="form-inline" (ngSubmit)="login()" #credentialForm="ngForm">
                <div class="form-group">
                    <label class="sr-only" for="credential">Credentials</label>
                    <input type="text" class="form-control" id="credentialLoginName" placeholder="Login name" name="credential" [(ngModel)]="credential.name" required>
                    <input type="text" class="form-control" id="credentialPassword" placeholder="Password" name="credential" [(ngModel)]="credential.Password" required>
                       
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!credentialForm.valid">Login</button>
            </form>
            <button (click)="closeModal('LoginModal');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</LoginModal>
 -->

<div class="modal-content">
    <div class="dialog-header">    
        <button type="button" class="close" [focus-blur]="'focus_blur'" (click)="cancel()">&times;</button>
        <!-- <h4>{{ productDialogTitle }}</h4> -->
    </div>
    <form class="form-inline" (ngSubmit)="login()" #credentialForm="ngForm">
        <input type="text" class="form-control" id="credentialLoginName" placeholder="Login name" name="credentialLoginName" [(ngModel)]="credential.loginName" required>
        <input type="text" class="form-control" id="credentialPassword" placeholder="Password" name="credentialPassword" [(ngModel)]="credential.password" required>

        
        <p>{{credential.name}}</p> 
        <div class="dialog-buttons dialog-footer">
            <button type="button" class="dialog-button dialog-button-secondary" (click)="cancel()">Cancel</button>
            <button type="button" class="dialog-button dialog-button-primary" [disabled]="!credentialForm.valid" (click)="login()">&#160;Login&#160;</button>
        </div> 
    </form>
</div>